@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* html {
    overflow-y: hidden;
} */

body {
    font-family: "Poppins", sans-serif;
}

.countryLogos {
    background-color: transparent !important;
}

.countryLogos img {
    height: 45px;
    /* background-color: transparent; */
}

.css-cveggr-MuiListItemIcon-root {
    min-width: 56px;
    color: rgba(0, 0, 0, 0.54);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: block !important;
}

.breadText {
    font-size: 14px;
    font-weight: 500;
}

.breadTextFont nav {
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
}

/* .resourceCardPartner {
    border-radius: 50% !important;
    background: #F2F4F3 !important;
    padding: 16px !important;
    box-shadow: none !important;
    margin: 10px;
    width: 160px;
    height: 160px;
}

.resourceCardPartner:hover {
    border-radius: 50% !important;
    background: #fff !important;
    padding: 16px !important;
    width: 160px;
    height: 160px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
}

.resourceCardPartner img {
    padding-top: 24px;
} */


.resourceCardPartner {
    border-radius: 50% !important;
    /* background: #FAFAFA !important;  */
    box-shadow: none !important;
    width: 150px;
    height: 150px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px !important;
    overflow: hidden;
}

.resourceCardPartner:hover {
    border-radius: 50% !important;
    /*background: #fff !important;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
    width: 150px;
    height: 150px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px !important;
    overflow: hidden;
}

/* .resourceCardPartner:hover {
  border-radius: 20px !important;
  background: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} */

.partner-img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    padding-top: 0px !important;
}

.resourceCardPartner img {
    margin-top: 20px;
}

.resourceCard {
    border-radius: 20px !important;
    /* background: #F2F4F3 !important; */
    padding: 16px !important;
    min-height: 475px;
    box-shadow: none !important;
}

.resourceCard:hover {
    border-radius: 20px !important;
    background: #fff !important;
    padding: 16px !important;
    min-height: 475px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
}

.resourceCard:hover p {
    color: #fff;
}

.resourceCard:hover .whiteBox {
    border-radius: 15px;
    /* background: #F2F4F3; */
    width: 100%;
    min-height: 200px;
}

.resourceCard .whiteBox {
    border-radius: 15px;
    /* background: #FFF; */
    width: 100%;
    min-height: 200px;
}

.btn.btnAbout1 {
    border-radius: 4px;
    background: #FECE2E;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 10px;
    line-height: normal;
    margin-top: 40px;
    text-transform: capitalize;
}

.btn.btnAbout1:hover {
    border-radius: 4px;
    background: #FECE2E;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 10px;
    line-height: normal;
    margin-top: 40px;
    text-transform: capitalize;
}

.resourceCard .ContentBox h4 {
    color: #4C9E46;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

.resourceCard .ContentBox p {
    /* color: #000; */
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.resourceCard:hover p {
    color: #000;
}


.breadTextFont nav p {
    font-size: 18px;
    font-weight: 500;
}

.bgLight {
    background: #EDEDED;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:invalid {
    box-shadow: none;
    height: 0px;
    font-size: 12px;
}

span.searchIcon {
    position: absolute;
    right: 65px !important;
    z-index: 99;
    top: 22px !important;
    color: #e0e0e0;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 0px !important;
    font-size: 12px;
}

.filterText {
    /* color: #000; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.clearText {
    /* color: #00000080 !important; */
    font-size: 10px !important;
    font-style: normal;
    text-transform: capitalize !important;
    font-weight: 500 !important;
    line-height: normal;
}

.saveFilters {
    /* color: #3065FA !important; */
    font-size: 10px !important;
    text-transform: capitalize !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
}

.css-cveggr-MuiListItemIcon-root {
    min-width: 35px !important;
}

/* .css-10hburv-MuiTypography-root {
    margin: 0;
    letter-spacing: 0.00938em;
    display: block;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
} */
.css-10hburv-MuiTypography-root {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: block;
    color: #000;
}

.css-i7rae6-MuiList-root {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 0;
    padding-bottom: 8px;
    width: 100%;
    max-width: 360px;
    border-top: 1px solid rgba(0, 0, 0, 0.10) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10) !important;
    background: #fff !important;
}

select.form-select {
    /* color: #000; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #409BF6;
    background-color: transparent;
}

.card .card-body nav {
    border-top: 1px solid rgba(0, 0, 0, 0.10) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10) !important;
    text-align: left !important;
    /* background: #FFF; */
}

.roundedBox {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #4c9e4633;
    border-radius: 50px;
    width: 68px;
    height: 68px;
    position: relative;
    left: 71px;
    font-size: 20px;
    line-height: 71px;
}

/* .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
    line-height: 5px !important;
} */

label {
    /* color: #000; */
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left !important;
    /* padding-left: 54px; */
}

.css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input:invalid {
    box-shadow: none;
    height: 4px;
}

.css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input:invalid {
    box-shadow: none;
    height: 4px;
    font-size: 12px;
    color: #fff;
}

.css-dn7qeu-MuiInputBase-root-MuiOutlinedInput-root label {
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* .css-qklaqr-MuiListItemIcon-root {
    min-width: 35px !important;
    color: #fff;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: none;
} */

.css-qklaqr-MuiListItemIcon-root
/* body {
    position: relative;
    min-height: 87.6%;
    top: -14px !important;
} */

body {
    overflow-x: hidden !important;
}

.form-check-input:checked {
    background-color: #34C759;
    border-color: #34C759;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    text-align: left !important;
}


.css-qfz70r-MuiFormGroup-root {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap !important;
    padding: 0px;
    margin-left: 0px;
}

.label {
    font-weight: 600 !important;
    font-size: 12px !important;
}

.label-list {
    font-family: "Poppins" !important;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
}

.formLabel {
    /* color: rgba(0, 0, 0, 0.6) !important; */
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 1.4375em !important;
    letter-spacing: 0.00938em !important;
    padding: 0 !important;
    position: relative !important;
    text-align: left !important;
    font-family: 'Poppins';
}

.css-1criyxn-MuiList-root {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 0;
    padding-bottom: 8px;
    width: 100%;
    max-width: 360px;
    background-color: #25292e;
    border-bottom: 1px solid #bebfc163;
}




.css-i4bv87-MuiSvgIcon-root {
    color: #aaaaaa !important;
}

.customSelect {
    padding-right: 32px;
    font-size: 12px !important;
    border-radius: 4px !important;
    /* border: 1px solid #409BF6 !important; */
    width: 220px !important;
    text-align: left !important;
    height: 37px !important;
}

.customMenuItem {
    font-size: 12px !important;
}

.MuiMenu-list {
    font-size: 12px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px 14px !important;
}

.customSelect {
    padding-right: 32px;
    font-size: 12px !important;
    border-radius: 4px !important;
    border: 1px solid #409BF6 !important;
    width: 220px !important;
    text-align: left;
}

.css-lm2nsg-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px 14px !important;
}

.css-1kzxync {
    position: absolute;
    bottom: 304px;
    left: 30px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px;
    padding: 16px;
}

/* .css-1u3fja1-MuiPaper-root-MuiCard-root {
    padding: 14px !important;
} */

.css-o69gx8-MuiCardMedia-root {
    width: 50px !important;
}

.css-46bh2p-MuiCardContent-root {
    margin-top: 0px !important;
    color: #fff !important;
    padding: 10px 4px !important;
}

/* .css-r40f8v-MuiTypography-root {
    margin: 0;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: #fff !important;
    font-size: 12px !important;
    font-style: normal;
    text-align: left !important;
    font-weight: 400 !important;
    line-height: normal;
} */

.css-46bh2p-MuiCardContent-root:last-child {
    padding-bottom: 0px !important;
}

.sliderTitle {
    margin: 0;
    letter-spacing: 0.00735em;
    margin-bottom: 16px;
    color: #FFF !important;
    font-size: 48px !important;
    font-style: normal;
    font-weight: 600 !important;
    text-align: left !important;
    line-height: 54px;
    max-width: 700px !important;
}

.css-efxop4 {
    position: absolute;
    color: #fff;
    background: transparent !important;
    padding: 14px !important;
    border-radius: 8px;
    z-index: 2;
}

/* .css-1apnxn1 {
    margin-top: 85px!important;
} */

.css-1gnngy {
    position: absolute;
    top: 60% !important;
}

button.btnExplore {
    border-radius: 4px !important;
    background: #FECE2E !important;
    color: #000 !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 600 !important;
    padding: 12px;
    line-height: normal !important;
    text-transform: capitalize !important;
}

.AboutSection h1 {
    /* color: #000; */
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    margin-top: 35px;
    /* 116.667% */
}


.AboutSectionCase h1 {
    color: #000;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    /* 116.667% */
}

.AboutSectionCase h1 span {
    color: #4C9E46;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 25px !important;
}

.AboutSectionCase p {
    color: #000;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AboutSection h1 span {
    color: #4C9E46;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
}

.AboutSection h4 {
    /* color: #000; */
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.AboutSection p {
    /* color: #00000080; */
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card1 {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: rgba(242, 244, 243, 0.50) !important;
    min-height: 150px;
}

.card1 .cardBody {
    padding: 13px 33px !important;
    min-height: 200px;
}

.card1:hover {
    border: 1px solid rgba(0, 0, 0, 0.06);
    background: #FFF !important;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    min-height: 150px;
}

.card1 p {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.aboutSectionApproach h1 {
    /* color: #000; */
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    line-height: normal;
    margin: 0px 0px 30px 0px;
}

.aboutSectionApproach p {
    /* color: #000; */
    font-family: "Poppins", sans-serif;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 400;
    text-align: left !important;
    line-height: normal;
}

.aboutSectionApproach .paraOne {
    margin-top: 0px;
    padding-top: 0px;
}

.btn.btnAbout {
    border-radius: 4px;
    background: #FECE2E;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    padding: 10px;
    text-transform: capitalize;
}

.btn.btnAbout:hover {
    border-radius: 4px;
    background: #FECE2E;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 10px;
    line-height: normal;
    margin-top: 20px;
    text-transform: capitalize;
}

/* Apply default tab styling */
.tabBtn {
    color: #555;
    text-transform: none;
    font-size: 18px;
    padding: 6px 16px;
    border-radius: 100px !important;
    background: rgba(76, 158, 70, 0.10) !important;
    margin: 0px 5px !important;
    font-family: Poppins !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}

/* Active (selected) tab */
.MuiTab-root.Mui-selected {
    color: #fff !important;
    /* Your active color */
    font-weight: 600;
    background: #4C9E46 !important;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

/* .btnTabs button{
    border-radius: 100px !important;
    background: #4C9E46 !important;
    color: #FFF !important;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
} */

/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    border-radius: 100px !important;
    background: #4C9E46 !important;
    color: #FFF !important;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
} */

/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    border-radius: 100px !important;
    background: rgba(76, 158, 70, 0.10) !important;
    margin: 0px 5px !important;
    color: #606060 !important;
    font-family: Poppins !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    text-transform: capitalize !important;
} */

.css-1aquho2-MuiTabs-indicator {
    position: absolute;
    height: 0px !important;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff !important;
    background-color: transparent !important;
}

.roundedCard {
    border-radius: 30px !important;
    border: 1px solid rgba(0, 0, 0, 0.10) !important;
    background: #F2F4F3 !important;
    padding: 40px !important;
}

.tabBox {
    border-radius: 20px;
    background: #FFF;
    max-width: 450px;
    height: 520px;
    flex-shrink: 0;
}

.contentBox h1 {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}

.contentBox h5 {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}



.contentBox p {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.cardImg img {
    width: 50px;
}

.cardImg {
    padding: 15px 0px 0px 15px;
    border-radius: 20px;
    background: #4C9E46;
    backdrop-filter: blur(25px);
}

.cardImg p {
    color: #fff !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    letter-spacing: .01071em;
    line-height: normal;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: left !important;
}

.css-1qw96cp:last-child {
    padding-bottom: 0px !important;
}

.css-1qw96cp {
    padding: 0px !important;
}

@media (min-width: 600px) {
    .css-cuefkz-MuiContainer-root {
        max-width: 680px !important;
    }
}

.map-tooltip {
    background: white;
    padding: 4px 8px;
    border: 1px solid black;
    font-size: 15px;
}

/* .card::-webkit-scrollbar {
  display: none;
} */

/* Map-related styles for DataGlance component */
.map-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

/* Optional: Leaflet control styles (uncomment if adding custom controls) */
/*
.leaflet-bar {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.leaflet-control-button {
    display: block;
    padding: 4px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
}

.leaflet-control-button:last-child {
    border-bottom: none;
}
*/

.leaflet-control-attribution {
    display: none;
}