@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;1,300&family=Mulish:ital,wght@0,300;1,300&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Playwrite+VN:wght@100..400&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  .karla-light {
    /* font-family: "Karla", sans-serif; */
     font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .quicksand-light {
    /* font-family: "Quicksand", sans-serif; */
     font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .mulish-light {
    /* font-family: "Mulish", sans-serif; */
     font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .rubik-mono-one-regular {
    /* font-family: "Rubik Mono One", serif; */
     font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .jura-custom {
    /* font-family: "Jura", serif; */
     font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
  }

  .playwrite-vn-custom {
    /* font-family: "Playwrite VN", serif; */
     font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }